nav {

    ul {
        width: 250px;
    }

    ul li a {
        display: block;
        text-align: center;
    }
}







div#main {
    background-color: white;
}
main {
    background-color: white;
    padding: 0 2%;
    min-height: 10rem;

    h1 {margin: 0;
        padding-top: 2rem;}



            .parent_container .container {
                flex-basis: 25%;
            } // end container

            .parent_container .container2 {
                flex-basis: 25%;
            } // end container

            .parent_container .container3 {
                flex-basis: 25%;
            } // end container

            .parent_container .container4 {
                flex-basis: 25%;
            } // end container

}
    
